@model CrudEmissoras.Models.Audiencia

@{
    ViewData["Title"] = "CriarAudiencia";
}

<h2>Criar Audiencia</h2>

<h4>Audiencia</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="CriarAudiencia">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Pontos_audiencia" class="control-label"></label>
                <input asp-for="Pontos_audiencia" class="form-control" />
                <span asp-validation-for="Pontos_audiencia" class="text-danger"></span>
                <p>@ViewBag.ErrorMessage</p>
            </div>
            <div class="form-group">
                <label asp-for="Data_hora_audiencia" class="control-label"></label>
                <input asp-for="Data_hora_audiencia" class="form-control" />
                <span asp-validation-for="Data_hora_audiencia" class="text-danger"></span>
            </div>
            @*<div class="form-group">
            @Html.DropDownList("Emissora_audiencia", ViewBag.Emissoras as SelectList, "Selecione", new { @class = "form-control" })
        </div>*@
            <select asp-for="Emissora_audiencia.Id"
                    asp-items="@ViewBag.Emissoras" class="form-control"></select>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
